.App {
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(0, 22, 40), rgb(0, 33, 40));
  margin: 4% 20% 0% 20%;
  padding: 3%;
  font-family:'Courier New', Courier, monospace;
  color: rgb(251, 251, 237);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
}

.buttontwo {
  padding: 1%;
  border: none;
  margin-top: 20px;
  border-radius: 5%
}

.list {
  list-style-type: none;
  cursor: pointer;
  font-size: 30px;
  margin: 2%;
  font-size: 35px;
}

.buttons button {
  padding: 1%;
  border: none;
  margin: 5px;
  border-radius: 5%
}

.clear {
  background-color: rgb(211, 0, 0);
  color: beige;
  border: none
}

.buttons button.selected {
  background-color: #00ff04;
  color: #000;
  border: none
}

.delete {
  color: beige;
  background-color: rgb(211, 0, 0);
  margin-left: 50px;
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  font-size: 15px;
}
