.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(44, 84, 157), rgb(26, 17, 70));
  margin: 5% 25% 5% 25%;
  padding: 5%;
  font-family: fantasy;
  color: beige;
  border-radius: 9%;
}

.list {
list-style-type: none;
cursor: pointer;
font-size: 50px;
}


